.group-photo {
  margin: 1rem 0;
}

.member-cards {
  margin-top: 3rem;
}

.team-row {
  margin: 1rem 0;
}

.card {
  transition: transform 0.5s ease-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}
