@import '../colors.scss';

.team-header {
  margin-top: 5rem;
}

.group-photo {
  margin: 1rem 0;
}

.card {
  background-color: $morph50;
}

.member-cards {
  margin-top: 2rem;
}

.team-row {
  margin: 1rem 0;
}

.student {
  transition: transform 0.5s ease-out;
  cursor: pointer;
}

.student:hover {
  transform: scale(1.1);
}
