/* Poppins Fonts */
@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-thin.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-thinitalic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-thinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-extralight.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-extralightitalic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-extralightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-light.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-lightitalic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-regular.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-italic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-medium.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-mediumitalic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-semibold.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-semibolditalic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-semibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-bold.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-bolditalic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-extrabold.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-extrabolditalic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-extrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-black.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-blackitalic.ttf');
  src: url('https://static.igem.wiki/teams/4466/wiki/poppins/poppins-blackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

