h1 {
  padding-top: 1.5rem;
}

h2 {
  padding-top: 1rem;
}

.references {
  li {
    font-size: 13px;
    margin-bottom: -0.3rem;
  }
}

.space-above {
  margin-top: 2rem;
}

caption {
  margin-top: -1rem;
}